/* ChoreLeaderboard.css */

/* Reset default margin and padding for the whole page */
body {
  margin: 0;
  padding: 0;
}

/* Apply a modern font family */
body {
  font-family: 'Arial', sans-serif;
}

/* Global styles */
:root {
  --primary-color: #3498db;
  --secondary-color: #f2f2f2;
  --text-primary: #333;
  --text-secondary: #777;
}

/* App container styles */
.app-container {
  text-align: center;
  background-color: var(--secondary-color);
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header styles */
h1 {
  font-size: 3em;
  color: var(--primary-color);
  margin-bottom: 1em;
  animation: slideInFromLeft 0.5s ease-out 0s 1 forwards;
}

/* Week display styles */
.week-display {
  font-size: 1.2em;
  color: var(--text-secondary);
  margin-bottom: 2em;
  animation: fadeIn 1s ease-out forwards;
}

/* Housemate list styles (customize as needed) */
.housemate-list {
  margin: 1em 0;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.housemate-list h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 1em;
}

/* Unassigned chores list styles */
.unassigned-chores {
  margin-top: 2em;
}

.unassigned-chores h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 1em;
}

/* Style the chore items in the unassigned chores list */
.chore-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.5em 0;
}

/* Add some spacing for chore items */
.unassigned-chores .chore-item + .chore-item {
  margin-top: 0.5em;
}


/* Animation for the title */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation for the week display */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
